.idea/
.DS_Store
node_modules/
docs/
dist/
built/
pnpm-lock.yaml
/test-results/
/playwright-report/
/playwright/.cache/
/public/assets/bac
/public/assets/crpe
/public/assets/dnb
/public/assets/e3c
/public/static
_private/
tests/e2e/logs
updatefile
# Dictionnaires générés
src/json/exercices.json
src/json/exercicesNonInteractifs.json
src/json/referentiel2022.json
src/json/referentielGeometrieDynamique.json
src/json/refToUuid.json
src/json/uuidsToUrl.json
src/json/referentielStatic.json